<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'about')}">


<head>
<meta charset=utf-8>
<title>About us</title>
</head>
<body>
<h1>About Us</h1>
 <p>A petclinic is a health facility that is primarily focused on the care of outpatients. Clinics can be privately operated or publicly managed and funded. They typically cover the primary care needs of populations in local communities, in contrast to larger hospitals which offer more specialized treatments and admit inpatients for overnight stays.
Most commonly, the English word clinic refers to a general practice, run by one or more general practitioners offering small therapeutic treatments, but it can also mean a specialist clinic. Some clinics retain the name "clinic" even while growing into institutions as large as major hospitals or becoming associated with a hospital or medical school.
	 </p>
	 <h2>Visitor Count </h2>
<div class="counter">
	<!-- hitwebcounter Code START -->
<a href="https://www.hitwebcounter.com" target="_blank">
<img src="https://hitwebcounter.com/counter/counter.php?page=8290580&style=0019&nbdigits=5&type=page&initCount=0" title="Free Counter" Alt="web counter"   border="0" /></a>                                    
                                    
</div>
</body>
</html>